includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 7

    excludePaths:
        - app/Actions/Fortify/*
        - app/Console/*
        - app/Exceptions/*
        - app/Http/Middleware/*
        - app/Http/Kernel.php
        - app/Providers/*

    checkGenericClassInNonGenericObjectType: false
