$button-colors: (
  // Name of the class
  primary: (
    // Background Color
    // Should I set the shade separately and just have a default value for it?
    backgroundColor: 'primary-600',
    // Text Color
    textColor: white,
    hover: (
      backgroundColor: 'primary-700',
      textColor: 'white'
    )
  ),
  primary-lighter: (
    backgroundColor: 'primary-500',
    textColor: white,
    hover: (
      backgroundColor: 'primary-700',
      textColor: 'white'
    )
  ),
  light: (
    backgroundColor: 'primary-50',
    textColor: 'slate-700',
    hover: (
      backgroundColor: 'slate-300',
      textColor: 'slate-900'
    )
  ),
  success: (
    backgroundColor: 'emerald-600',
    textColor: 'white',
    hover: (
      backgroundColor: 'emerald-700',
      textColor: 'white'
    ),
  ),
  danger: (
    backgroundColor: 'red-600',
    textColor: 'white',
    hover: (
      backgroundColor: 'red-700',
      textColor: 'white'
    ),
  ),
);

.button {
  @apply py-2 px-4 inline-block rounded-md font-semibold bg-white;
  @apply transition duration-200;
  @apply border border-transparent;
  @apply hover:bg-zinc-100;
  @apply active:outline-none active:ring-2 active:ring-zinc-400 active:ring-opacity-75 active:ring active:ring-offset-2;
  @apply focus:outline-none focus:ring-2 focus:ring-zinc-400 focus:ring-opacity-75 focus:ring-offset-2;

  $parent: #{&};

  @each $color, $properties in $button-colors {
    $bgColor: map-deep-get($button-colors, $color, 'backgroundColor');
    $textColor: map-deep-get($button-colors, $color, 'textColor');

    $hoverBgColor: map-deep-get($button-colors, $color, 'hover', 'backgroundColor');
    $hoverTextColor: map-deep-get($button-colors, $color, 'hover', 'textColor');

    $invertedBgColor: map-deep-get($button-colors, $color, 'textColor');
    $invertedTextColor: map-deep-get($button-colors, $color, 'backgroundColor');

    &--#{$color} {
      @apply bg-#{$bgColor} text-#{$textColor};
      @apply hover:bg-#{$hoverBgColor} hover:text-#{$hoverTextColor};
      @apply active:ring-#{$hoverBgColor};
      @apply focus:ring-#{$hoverBgColor};

      &#{$parent}--outline {
        @apply bg-transparent border-#{$bgColor} text-#{$textColor};
        @apply hover:bg-#{$bgColor} hover:text-#{$textColor};
      }

      &#{$parent}--invert {
        @apply bg-#{$invertedBgColor} text-#{$invertedTextColor};
        @apply hover:bg-#{$invertedBgColor} hover:text-#{$invertedTextColor};
      }

      //&#{$parent}--invert-text {
      //  @apply bg-transparent text-#{$color}-600;
      //  @apply hover:bg-transparent hover:text-#{$color}-700;
      //}
    }
  }

  &--shadow {
    @apply shadow-md;
  }

  &--round {
    @apply rounded-full;
  }

  &--icon {
    @apply py-1 px-2;
  }

  &--small {
    @apply text-sm;
  }

  &--fullwidth {
    @apply w-full;
  }

  &--fullwidth-touch {
    @apply flex w-full md:inline-block md:w-auto;
  }
}
