$colours: (
  'slate',
  'gray',
  'zinc',
  'neutral',
  'stone',
  'red',
  'orange',
  'amber',
  'yellow',
  'lime',
  'green',
  'emerald',
  'teal',
  'cyan',
  'sky',
  'blue',
  'indigo',
  'violet',
  'purple',
  'fuchsia',
  'pink',
  'rose'
);

.tags {
  //@apply flex flex-row items-center space-x-1;
  @apply space-x-2;

  //@apply flex-wrap;
}

.tag {
  @apply bg-sky-50 text-sky-600;
  @apply inline-flex text-sm leading-relaxed rounded-full cursor-pointer;
  @apply hover:bg-sky-100;
  @apply focus:bg-sky-200;
  @apply active:bg-sky-200;

  &__title {
    @apply mx-4;
  }

  $parent: &;

  &__close {
    @apply w-6 text-center bg-blend-darken;

    #{$parent}__title {
      @apply mr-1;
    }
  }

  @each $colour in $colours {
    &--#{$colour} {
      @apply bg-#{$colour}-200 text-#{$colour}-800;
      @apply hover:bg-#{$colour}-300 hover:text-#{$colour}-800;
      @apply focus:bg-#{$colour}-400 focus:text-#{$colour}-800;
      @apply active:bg-#{$colour}-400 active:text-#{$colour}-800;
    }
  }
}
