.user-profile {
  @apply overflow-hidden;

  &__header {
    @apply relative flex items-center justify-center bg-slate-100;
    @apply h-64 max-h-64 overflow-hidden;

    &--empty {
      @apply h-32 max-h-32 bg-slate-200;
    }

    &__background {
      @apply h-full w-full object-cover object-center;
    }
  }

  &__header--editing img {
    @apply brightness-90;
  }

  &__edit {
    @apply absolute;

    &__button {
      @apply relative z-10 rounded-full bg-slate-900 bg-opacity-50 p-2 text-white;
      @apply hover:bg-opacity-70;

      svg {
        height: 1rem;
        width: 1rem;
      }

      line-height: 0;
    }

    &__input {
      @apply absolute top-0 bottom-0 left-0 right-0 mx-auto h-[1px] w-[1px] opacity-0;
    }
  }

  &__avatar {
    @apply flex items-center justify-center;
    @apply relative z-10 -mt-20 h-32 w-32 overflow-hidden rounded-full border-4 border-slate-100;

    img {
      @apply h-full w-full object-cover object-center;
    }

    svg {
      @apply font-bold;
    }
  }

  &__avatar--editing {
    @apply border-white;

    img {
      @apply brightness-90;
    }
  }

  &__name {
    @apply mt-2 text-2xl font-semibold text-slate-700;
  }

  &__username {
    @apply font-medium text-slate-600;
  }

  &__bio {
    @apply mt-4 text-slate-700;
  }

  &__social {
    @apply flex flex-row;
  }

  &__company {
    @apply mt-4 text-slate-800;
  }
}
