@import "typography.css";
@import "helpers.css";
@import "components/navbar.css";
@import "components/buttons.css";
@import "components/table.css";
@import "components/form.css";
@import "components/card.css";
@import "components/box.css";
@import "components/tags.css";

html, body {
    background-color: #F4F5F7;
    color: rgba(3, 27, 78, 0.6);
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 400;
}

.answer {
    margin-top: 4rem !important;
}

.editor-toolbar {
    border-color: #ddd !important;
}

/* Temporary */
.columns.answers:not(:last-child) {
    border-bottom: 1px solid #dbe2e3;
}

.columns.trashed {
    background-color: #f8e0e0;
    border-radius: 3px;
    border-color: transparent;
}
