@import "components/navbar.css";

html, body {
    background-color: #f8f9fa;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

/* Tags */
.tags {
    margin-top: 10px;
}

.tag, .tag:not(body) {
    text-transform: uppercase;
    border-radius: 0;
    color: #FFF;
    font-size: 0.85rem;
}

.test {
    width: 54px;
    height: 54px;
    border-radius: 290486px;
    font-size: 50px;
    color: #fff;
    line-height: 54px;
    text-align: center;
}

/* Table */
.table td h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.table td, .table th {
    /* padding: 1.0625rem 1.25rem; */
    padding: 0.7rem 1.7rem 0.45rem 1.7rem;
    border-color: #f5f5f5;
    border-bottom-width: 2px;
    font-weight: 700;
}

.table td {
    /* padding: 2.3125rem 1.5rem; */
    padding: 2.3125rem 1.7rem;
}

.table thead td, .table thead th {
    border-width: 0 0 2px;
    color: #818181;
    text-transform: uppercase;
}

/* Form controls */
.input {
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
}

.input::placeholder {
    color: #b7b7b7;
    font-weight: 700;
}

.input:hover, .input:active, .input:focus {
    box-shadow: none;
    border-color: transparent;
}
