button.button,
a.button {
    font-family: 'Inter', sans-serif;
    transition: all 250ms;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.85rem;
}

button.button.is-primary,
a.button.is-primary {
    background-color: #0052CC; /* #0065FF */
}

button.button.is-primary.is-hovered,
a.button.is-primary.is-hovered,
button.button.is-primary:hover,
a.button.is-primary:hover {
    background-color: #0047B3; /* #0052CC */
}

button.button.is-primary.is-active,
a.button.is-primary.is-active,
button.button.is-primary:active,
a.button.is-primary:active {
    background-color: #004099; /* #0747A6 */
}
