.card {
    background-color: transparent;
    box-shadow: none;
}



.card-header {
    box-shadow: none;
}

.card-header .subtitle {
    color: #2b5bf4;
}

.card-header .title {
    margin-bottom: 0;
}

.card-header .tags {
    margin-top: 0.5rem;
}

.card-header .tags .tag {
    font-size: 0.7rem;
    border: transparent solid 1px;
    background-color: #fff;
}

.card-content {
    padding: 1.5rem 0;
}

.card-foot {
    /*font-size: 0.8125rem;*/
    font-size: 0.9rem;
}

.card-foot-actions {
    font-weight: 600;
}

.card-foot-actions a:not(:last-child) {
    margin-right: 0.5rem;
}

.card-foot-user {
    display: flex;
    align-items: center;
}

.card-foot-user a {
    font-weight: 600;
}

.card-foot-user {
    color: #333;
}

.card-foot .card-foot-user .user-avatar {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}
