.navbar {
    background-color: #000;
    /*padding: 22px 42px;*/
    padding: 15px 30px;
}

.navbar .navbar-item {
    color: #FFF;
    font-weight: 800;
    /*font-size: 1.4rem;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    /*line-height: 1.6rem;*/
}

.navbar .navbar-brand {
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.navbar .navbar-brand a {
    color: #FFF;
}

/* Form */
.navbar .searchbar .input {
    /*font-size: 1.2rem;*/
    font-size: 1rem;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
    border-radius: 3px;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .searchbar .input::placeholder {
    color: #b7b7b7;
    font-weight: 600;
}

.navbar .searchbar .input:hover,
.navbar .searchbar .input:active,
.navbar .searchbar .input:focus {
    box-shadow: none;
    border-color: transparent;
}
