.navbar {
    background-color: #2b5bf4;
    padding: 22px 30px;
}

.navbar .navbar-item {
    color: #FFF;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

/*
    Navbar brand
*/

.navbar .navbar-brand {
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.navbar .navbar-brand a {
    color: #FFF;
    /* font-size: 2rem; */
}

/*
    User profile dropdown
*/
.navbar .user-profile img {
    max-height: 2.5rem;
    height: 100%;
    width: auto;
    border-radius: 50px;
}

/*
    Search bar
*/
.navbar .search-bar {
    flex: 1 0 auto;
}

.navbar .search-bar .input {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, .1); */
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 1rem;
    color: #031b4e;
}

.navbar .search-bar .input::placeholder {
    /* color: #b7b7b7; */
    color: #5b6886;
    font-weight: 600;
}

.navbar .search-bar .input:hover,
.navbar .search-bar .input:active,
.navbar .search-bar .input:focus {
    border-color: transparent;
}

/*
    Navbar dropdown
*/
.dropdown-menu {
    border-radius: 1rem;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.dropdown-menu .dropdown-content {
    padding: .5rem;
}

.dropdown-menu .dropdown-content .dropdown-item {
    color: #333d53;
}

.dropdown-menu .dropdown-content .dropdown-item:hover {
    border-radius: 5px;
}
